#main_section{
	margin-left:6px;
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	text-align:left;
	width:946px;
	padding: 19px;
	background-color:#006699;
	border: solid 1px #CC6600;
}
table{
	width:85%;
	text-align:left;
	margin:15px auto 0px;
	margin-bottom:15px;
	
}

#main_section{

	width:8px;
	float:left;
	text-align: left;
	background-color:#006699;
	margin-left:6px;
	border: solid 1px #CC6600;
	width:947px;
	height:auto;
	
}	

.dropdown{
	color:#CC6600;
	font-weight:bold;
	padding:1px;

}
.forms{
	width:85%;
	text-align:left;
	float:left
	margin:15px auto 0px;
	margin-bottom:15px;
	}
.productTitle{
	text-align:center;
	font-size:20px;
	}
td{
	padding:10px;
	}
#main_section{
	

	width:8px;
	float:left;
	text-align: left;
	background-color:#006699;
	margin-left:6px;
	border: solid 1px #CC6600;
	width:947px;
	height:auto;
	
}
.input2{
	font-size:15px;
	padding:5px;
	border:1px solid #b9bdc1;
	width:75px;
	color:#505050;
}
.input3{
	font-size:15px;
	padding:5px;
	border:1px solid #b9bdc1;
	width:300px;
	color:#505050;
}
.input4{
	font-size:15px;
	padding:5px;
	border:1px solid #b9bdc1;
	width:400px;
	color:#505050;
}
.input2:focus{
	border:1px solid #CC6600;
	background-color:white;
}
.input3:focus{
	border:1px solid #CC6600;
	background-color:white;
}
.input4:focus{
	border:1px solid #CC6600;
	background-color:white;
}
#generalform1{
	margin:15px auto 0px;
	padding:20px;
	background:#006699;
	overflow:auto;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	box-shadow:5px 5px 15px #A0A0A0; /*zero*/
	-moz-box-shadow:5px 5px 15px #A0A0A0;
	-webkit-box-shadow:5px 5px 15px #A0A0A0;
}
.field:hover .hint{
	position:absolute;
	display:block;
	margin:-25px 0 0 650px;
	font-size:10px;
	color:white;
	padding:7px 10px;
	background:rgba(0,0,0,0.6);
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
.hint{
	display:none;
}