#main_section{
	margin-left:6px;
	margin-top:10px;
	margin-bottom:10px;
	float:left;
	text-align:left;
	width:948px;
	height:auto;
	padding: 19px;
	background-color:#006699;
	border: solid 1px #CC6600;
}
.tableorder{
	padding:0px;
	}